@import "tailwindcss";
@import "@fontsource-variable/archivo";
@import "@fontsource-variable/jetbrains-mono";
@import "@hdnax/genuix/style.css";

@variant dark (&:where(.dark, .dark *));

body {
  background: var(--gui-primary-bg);
  color: var(--gui-neutral-fg);
  -webkit-font-smoothing: antialiased;
}
